{% extends './Layout.html' %}

{% load static %}

{% block content %}
<script src="{% static 'js/axios.js' %}"></script>
<script src="{% static 'js/dragAndDrop.js' %}"></script>


<script>



    function getTasks(column, col, idColumn, idProject){

        // Peticion Get para obtener las tareas de cada columna
        axios.get(`/tasks/column/${idColumn}`)
            .then(function(response){
                addTasks(response, column, col)
            })
            .catch(function(error){
                console.log(error)
            })

    }


    function addTasks(response, column, col){
       //Esta funcion despliega las tareas correspndientes a cada columna
        var task = ''
        response.data.map(function(x){

            task += `
                    <div class="card card-column mt-4 p-2" id="card-${x.pk}-${col}" draggable="true" ondragstart="drag(event)">
                        <div class="card-body">
                            <h5 class="card-title"> ${x.fields.title} </h5> 
                            <p class="card-text"> ${x.fields.description} </p> 
                            <span>${x.fields.user} </span>
                            <span class="fr">${x.fields.created_at.substring(0,10)}</span>   
                        </div>
                    </div>
                    `
        })
        
       
        document.getElementById(column).innerHTML = task 
    }




</script>



    <div class=" initial-content">

        <div class="row mb-2">
            <div class="col-md-12">
                <h4>Project Name : {{project.name}}</h4>
            </div>
        </div>

       
        <div class="row">
            
            {% for c in column %}
                <div class="col-md-4" >
  
                    <h5>{{ c.name }}</h5>

                    <div class="column" id="column-{{c.pk}}"  ondrop="drop(event)" ondragover="allowDrop(event)">

                       <script>getTasks('column-{{c.pk}}', '{{c.name}}', '{{c.id}}', '{{project.id}}')</script>

                    </div>
                </div>
            {% endfor %}

        </div>
            
    </div>


{% endblock %}






  





